<!DOCTYPE html>
<html ng-app="PortfolioApp">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Nathan Riemer</title>


    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/projects_controller.js"></script>



    <style type="text/css">
    .main.container {
      margin-top: 4em;
    }
    </style>


  </head>

  <body>

    <div class="ui fixed menu">
      <div class="ui container">
        <a href="#" class="header item">
          Nathan Riemer
        </a>
        <a href="#about" class="item">About</a>
        <a href="#projects" class="item">Projects</a>
        <a href="#more" class="item">More</a>
      </div>
    </div><!-- .ui.fixed.menu -->

    <div class="ui main container">
      <h2 class="ui blue top attached center aligned header" id="about">About</h2>
      <div class="ui attached raised container segment">
        <h1 class="ui header">Nathan Riemer</h1>
        <p>I'm a full stack web developer with a background in Computer Science. I love a challenge and feel as comfortable delivering under tight deadlines as taking the time to deep-dive into a complicated problem. In my spare time I'm an avid runner and marathoner.</p>
      </div>


      <h2 class="ui blue top attached center aligned header" id="projects">Projects</h2>
      <div class="ui attached raised container segment" ng-controller="ProjectsController as projects">
        <!-- <h1 class="ui header">Projects:</h1> -->
        <div class="ui horizontal divider">
          <i class="filter icon"></i>
          Filter
        </div>
        <button class="compact mini ui button" ng-repeat="technology in projects.technologies" ng-click="projects.fetch(technology)">{{technology}}</button>

        <div class="ui divider"></div>

        <div class="two stackable ui cards">
          <div class="card" ng-repeat="project in projects.all">
            <div class="image">
              <img ng-src="{{project.image}}">
            </div>
            <div class="content">
              <a class="large ui header" href="{{project.url}}" target="_blank">{{project.title}}</a>
              <a class="meta" href="{{project.github}}" target="_blank"><i class="github icon"></i>GitHub Repo</a>
              <div class="description">
                {{project.description}}
              </div>
            </div>
            <div class="extra content">
              <button class="compact mini ui button" ng-repeat="technology in project.technologies">
                {{technology}}
              </button>
            </div>
          </div>

        </div> <!-- .ui.cards -->
      </div>


      <h2 class="ui blue top attached center aligned header" id="more">More</h2>
      <div class="ui attached raised container segment">
        <div class="ui list">

          <div class="item">
            <i class="mail icon"></i>
            <div class="content">
              <a href="mailto:nathan.riemer@gmail.com" target="_blank">Email</a>
            </div>
          </div>

          <div class="item">
            <i class="map icon"></i>
            <div class="content">
              New York, NY
            </div>
          </div>

          <div class="item">
            <i class="github icon"></i>
            <div class="content">
              <a href="https://github.com/NathanRiemer" target="_blank">GitHub</a>
            </div>
          </div>

          <div class="item">
            <i class="linkedin icon"></i>
            <div class="content">
              <a href="https://www.linkedin.com/in/nathanriemer" target="_blank">LinkedIn</a>
            </div>
          </div>

          <div class="item">
            <i class="checkered flag icon"></i>
            <div class="content">
              <a href="https://www.athlinks.com/athletes/180897107" target="_blank">Athlinks</a>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- .main -->
  </body>
</html>